@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">E-LEARN</h1>
    <p>Welcome User</p>

    <p>Debug links</p>
    <a class="nav-link text-white" asp-area="" asp-controller="Lecturer" asp-action="Dashboard">Lecturer Dashboard</a>
    <a class="nav-link text-white" asp-area="" asp-controller="Student" asp-action="Dashboard">Student Dashboard</a>
    <a class="nav-link text-white" asp-area="" asp-controller="HOD" asp-action="Dashboard">HOD Dashboard</a>
    <a class="nav-link text-white" asp-area="" asp-controller="SubjectCoordinator" asp-action="Dashboard">SubjectCoordinator Dashboard</a>
    <a class="nav-link text-white" asp-area="" asp-controller="Sponsor" asp-action="Dashboard">Sponsor Dashboard</a>
</div>

"~/images/splash.png"