@{
    ViewData["Title"] = "Home Page";
}

<body>
<div class="text-center ">
    <div class="container" style="text-align:center;">
        <h1 class="display-4 ">Welcome</h1>
        <p>Please log-in with your credentials</p>
        <div class="center" style="background-color: #1B818D; ">    
            @using (Html.BeginForm("LogIn", "Home"))
            {
                <p style="color:white">User ID</p>
                <input type="text" class="textbox" id="UserID" name="UserID" value="">
                <p style="color:white">Password</p>
                <input type="text" class="textbox" id="Password" name="Password" value="">
                <br>
                <button>Log In</button>
                <p style="color:red">Unrecognized user</p>
            }  
            <br><br>
        </div>
    </div>
    
</div>
</body>