@model IEnumerable<ELearn.Models.Sponsor>

@{
    ViewData["Title"] = "Registration Details";
}

<p>
    <a asp-action="Register">Register Details</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Title and Surname
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="EditDetails" asp-route-id="@item.SponsorID">Edit Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Dashboard">Back</a>
</p>