
@{
    ViewData["Title"] = "Dashboard";
}

<body>
<div class="text-center ">
    <div class="container" style="text-align:center;">
        <h1 class="display-4 ">Dashboard</h1>
        
        <img src="~/images/lecturer.jpg" alt="IMAGES" ALIGN="right"  />
        <div class="center" style="background-color: #1B818D; ">    
            <br>
            @using (Html.BeginForm("Dashboard", "Lecturer"))
            {
                <button style="background-color: #43a0ab; border: none; padding: 5px;
                font-size: 24px; color:white; border-radius: 8px;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 17px 0 rgba(0,0,0,0.19);
                ">Manage Study Material</button>
            }  
            <br>
        </div>
    </div>
    <br>
    <div class="container" style="text-align:center;">
        <div class="center" style="background-color: #1B818D; ">    
            <br>
            @using (Html.BeginForm("Submission", "Lecturer"))
            {
                <button style="background-color: #43a0ab; border: none; padding: 5px;
                font-size: 24px; color:white; border-radius: 8px;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 17px 0 rgba(0,0,0,0.19);
                ">Manage Submissions</button>
            }  
            <br>
        </div>
    </div>
    <br>
    <div class="container" style="text-align:center;">
        <div class="center" style="background-color: #1B818D; ">    
            <br>
            @using (Html.BeginForm("Dashboard", "Lecturer"))
            {
                <button style="background-color: #43a0ab; border: none; padding: 5px;
                font-size: 24px; color:white; border-radius: 8px;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 17px 0 rgba(0,0,0,0.19);
                ">Log Out</button>
            }  
            <br>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>

</div>
</body>