@model ELearn.Models.Material

@{
    ViewData["Title"] = "Add New Material";
}

<h1>Add New Study Material</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MatCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Active" />
            <br/>
            <p>
                Add a link to content for your students to study. These can either be linked to your organization's file system or
                another external link.<br/>
                New material will need to be approved by your subject coordinator before it will become visible.
            </p>
            <div class="form-group">
               Module
               <select asp-for="ModID" asp-items="@Model.Modules"></select>
            </div>
            <div class="form-group">
                <label asp-for="Week" class="control-label"></label>
                <input asp-for="Week" class="form-control" />
                <span asp-validation-for="Week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileLink" class="control-label"></label>
                <input asp-for="FileLink" class="form-control" />
                <span asp-validation-for="FileLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("MatIndex", "Lecturer")'">Back</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
