@model ELearn.Models.SubjectCoordinator

@{
    ViewData["Title"] = "Edit Details";
}


<h4>Lecturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectCoID" />
            <input type="hidden" asp-for="Active" value=1 />
            <input type="hidden" asp-for="Id" value=@ViewBag.own_id />
            <div class="form-group">
                User ID
                <input asp-for="Id" class="form-control" value=@ViewBag.own_id disabled/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
               Office
               <select asp-for="OfficeID" asp-items="@Model.Offices">
                   <option value=" "> </option>
               </select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Dashboard">Back to Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
